@import "./base.css";
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif; 
  line-height: 1.5; 
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50; 
}
